<div class="welcome-container">
    <div class="heading">Problem Statement</div>
    <p>There is frequently a need for teams to collectively decide on a location to head to for lunch.
    While each team member has an idea in mind, not everyone gets heard in the commotion
    and much time is spent to arrive at what may as well be a random choice.</p>
    <div class="heading">Task</div>
    <p>Design and build an application that meets the following requirements.</p>
    <ul>
        <li>A user can initiate a session and invite others to join it.</li>
        <li>Other users who have joined the session may submit a restaurant of their choice.</li>
        <li>All users in the session are able to see restaurants that others have submitted.</li>
        <li>The user who initiated the session is able to end the session.</li>
            <ul>
                <li>
                    At the end of a session, a restaurant is randomly picked from all submitted
                restaurants. All users in the session are then able to see the picked
                restaurant.
                </li>
                <li>A user should not be able to join a session that has already ended.</li>
            </ul>
    </ul>
    <div class="heading">Expected Engineering Qualities</div>
    <p>Although a somewhat simple assignment, we are looking to observe the application of good
software engineering practices, so you should consider this as an opportunity to showcase
what quality software means to you and how you would achieve it. The following is a
non-exhaustive example list of questions we hope to see answered from reading your code:</p>
    <ul>
        <li> How would you ensure that one user’s submitted location does not cause issues on
        other users’ displays?</li>
        <li> How would you assure others that your application meets the requirements, and
        continues to meet the requirements even after changes have been made to it?</li>
        <li> How would you ensure that your application can be deployed to serve an increasing
        number of users who may be concurrently using your service?</li>
        <li> How would you help a fellow team member who may need to debug your application
        in future?</li>
    </ul>
       <p>Feel free to extend the application with salient features as long as it continues to serve the
        users’ purpose
        </p>

        <div class="heading">Expected Artifacts</div>
        <ul>
            <li> Commit your code to a github repository and send its link to us via email.</li>
            <li> Your repository should include a document explaining how your application is
expected to be cloned and run, including any necessary preparations of the
environment.</li>
            <li> Any APIs that have been developed as part of your application should also be
            documented.</li>
            <li> Significant design decisions should also be documented to facilitate future
            discussions.</li>
        </ul>
</div>
